body{
    margin: 0;
}
.continer{
    overflow: hidden;
    position: relative;
    height: 100vh;
    background-color: black;

}

.product{
    /* background-color: blue; */
    width: 500px;
    height: 500px;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translateX(-50%);
    z-index: 1;
    transition: 0.7s;
    --left:0px;
}

.soda{
    background:
        url(images/couver1.png) var(--left) 0px,
        url(images/soda.png);
    background-size: auto 100%;
    background-blend-mode: multiply;
    mask-image: url(images/soda.png);
    mask-size: auto 100%;
    width: 300px;
    aspect-ratio: 2/4;
    transition: 0.9s;
   
}

.product:hover{
    --left:-1900px;
    top:30%;
    
}
